<p>
  <b>&quot;<%= quote['quote'] %> &quot;</b>
  <br /> <i>&ndash; <%= quote["attribution"] %></i>
</p>

<p>
  <b><i>Submitted by <%= quote['submitter'] %></i></b>
</p>
<form action='/quotes/delete' method="post">
  <input type="hidden" name="quote_id" value="<%= quote['id'] %>" />
  <input type="submit" value="Delete this quote" />
</form>
<a href="/quotes/index"><button>View all quotes</button></a>